<head>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/assets/style.css" type="text/css">
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Kodchasan|PT+Sans+Narrow" rel="stylesheet">
  <title>Coding Club | {{location}}</title>
</head>
