<nav class="navBar">
  <div id="navHome">
    <a href="/">Home</a>
  </div>
  <div id="navAbout">
    <a href="/about">About</a>
  </div>
  <div id="navCode">
    <a href="/whycode">Why Code?</a>
  </div>
  <div id="navPop">
    <a href="/popularcode">Popular Languages</a>
  </div>

</nav>
