<nav class="navBar">
    <a class="indNav" id="navHome" href="/">Home</a>
    <a class="indNav" id="navAbout" href="/about">About</a>
    <a class="indNav" id="navCode" href="/whycode">Why Code?</a>
    <a class="indNav" id="navPop" href="/popularcode">Popular Languages</a>
</nav>
