<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="../public/assets/style.css">
    <meta charset="utf-8">
    <title>404</title>
  </head>
  <body>
    <h1></h1>
  </body>
  <script type="text/javascript" src="../public/assets/script.js">

  </script>
</html>
