<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/assets/style.css" type="text/css">
    <meta charset="utf-8">
    <title>Coding Club | Home</title>
  </head>
  <body>
    <h1>Sorry, the website for Vero Beach High School Coding Club is under maintence, <br> and will launch soon!</h1>
    <h3>Thank you for your patience, and check back for updates!</h3>
    <img src="http://www.usaus.com.au/wp-content/uploads/2016/10/Website-maintenance.jpg" alt="Construction Picture">
  </body>
  <script type="text/javascript" src="/assets/script.js">

  </script>
</html>
